* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.App {
  height: 100vh;
}
.dash {
  height: 100%;
}
.outer {
  height: 100%;
}
.month {
  text-align: center;
}
.calendar {
  position: relative;
  height: 100%;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
  overflow: auto;
  white-space: nowrap;

  /* display: flex;
  flex-direction: row; */
}
.day {
  /* height: 150px;
  width: 150px; */
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.days {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 20px;
  margin-bottom: auto;
}

.day:nth-child(n + 1) {
  border-left: 0px;
  border-bottom: 0px;
}
.day:nth-child(n + 24) {
  border-bottom: 1px solid black;
}
.top {
  grid-area: 1 / 1 / 2 / 6;
}
.icons {
  grid-area: 2 / 1 / 6 / 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.iconFa-icon {
  padding: 2px;
  height: 20px;
  width: 20px;
}
.meat {
  grid-area: 2 / 2 / 6 / 6;
}
.box {
  box-sizing: border-box;
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background: #011042; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
}
.box h1 {
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  font-weight: 500;
}
.box label,
.box p {
  color: rgb(0, 0, 0);
}
.signin {
  height: auto;
}
.signin {
  box-sizing: border-box;
}
.box input[type="text"],
.box input[type="password"],
.box input[type="password2"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: black;
  border-radius: 24px;
  transition: 0.25s;
}
.box input[type="text"]:hover,
.box input[type="password"]:hover,
.box input[type="password2"]:hover {
  width: 220px;
  border-color: #2ecc71;
}
.box button {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: black;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.box button:hover {
  background: #2ecc71;
}
.notification {
  width: 80vw;
  margin: 0 auto;
}
.notification .goals,
.notification .reminder {
  /* display: flex;
  flex-direction: row; */
  width: 100%;
}

.goal label,
.reminder label {
  margin-left: 10px !important;
}
.fab {
  width: 56px;
  position: relative;
  margin-left: auto;
}
.divider {
  display: flex;
  flex-direction: row;
}
